<div class="picture">
    <div class="create-event-form">
        <h2>Create Your Event</h2>
        <form (ngSubmit)="onCreateEvent()">
            <div class="form-group">
                <label for="eventName">Event Name:</label>
                <input type="text" id="eventName" [(ngModel)]="eventData.eventName" name="eventName" required>
            </div>

            <div class="form-group">
                <label for="eventDate">Date:</label>
                <input type="date" id="eventDate" [(ngModel)]="eventData.eventDate" name="eventDate" required>
            </div>

            <div class="form-group">
                <label for="eventTime">Time:</label>
                <input type="time" id="eventTime" [(ngModel)]="eventData.eventTime" name="eventTime" required>
            </div>

            <div class="form-group">
                <label for="eventPlace">Place:</label>
                <input type="text" id="eventPlace" [(ngModel)]="eventData.eventPlace" name="eventPlace" required>
            </div>

            <div class="form-group">
                <label for="eventCategory">Category:</label>
                <select id="eventCategory" [(ngModel)]="eventData.eventCategory" name="eventCategory">
                    <option value="conference">Conference</option>
                    <option value="seminar">Seminar</option>
                    <option value="concert">Concert</option>
                    <option value="workshop">Workshop</option>
                    <!-- Add more categories as needed -->
                </select>
            </div>

            <div class="form-group">
                <label for="eventDescription">Description:</label>
                <textarea id="eventDescription" [(ngModel)]="eventData.eventDescription" name="eventDescription" rows="4" required></textarea>
            </div>

            <div class="form-group">
                <label for="eventImage">Event Image:</label>
                <input type="file" id="eventImage" name="imageFile" (change)="onFileSelected($event)" name="eventImage" accept="image/*">
            </div>

            <button type="submit"  (ngSubmit)="onCreateEvent()">Create Event</button>
        </form>
    </div>
</div>
