
<section class="sign-up" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="info-box mb-4">
            <h3>Sign Up</h3>
            <form (ngSubmit)="onRegister()">
              <div class="form-group mt-3">
                <input type="text" class="form-control" [(ngModel)]="AuthUser.Username" name="username" id="username" placeholder="Username" required>
              </div>
              <div class="form-group mt-3">
                <input type="email" class="form-control" [(ngModel)]="AuthUser.email" name="email" id="email" placeholder="Email Address" required>
              </div>
              <div class="form-group mt-3">
                <input type="password" class="form-control" [(ngModel)]="AuthUser.password" name="password" id="password" placeholder="Password" required>
              </div>
              <!-- ... other form fields ... -->
              <div class="text-center mt-3">
                <button type="submit" class="btn">Register</button>
                <!-- ... -->
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </section>
