<main>
  <!-- Services Section -->
  <section class="services">
    <div class="container">
      <div class="row">
        <!-- Dynamic Event Card -->
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-4" *ngFor="let event of events" data-aos="fade-up">
          <div class="card">
            <img [src]="event.imageUrl" class="card-img-top" alt="Event">
            <div class="card-body">
              <h5 class="card-title">{{ event.Title }}</h5>
              <div class="card-info">
                <div class="info-item">
                  <i class="bx bx-calendar-event"></i>
                  <span style="font-family: 'Roboto', sans-serif; color: #1e4356;">{{ event.Date }}</span>
                </div>
                <div class="info-item">
                  <i class="bx bx-time-five"></i>
                  <span style="font-family: 'Roboto', sans-serif; color: #1e4356;">{{ event.Time }}</span>
                </div>
                <div class="info-item">
                  <i class="bx bx-map"></i>
                  <span style="font-family: 'Roboto', sans-serif; color: #1e4356;">{{ event.location }}</span>
                </div>
              </div>
              <!-- RSVP Button -->
              <button class="rsvp-button" (click)="promptRsvp(event._id)" [ngClass]="{'rsvped': isEventRsvped(event._id)}">RSVP</button>
            </div>
          </div>
        </div>
        <!-- End of Dynamic Event Card -->
      </div>
    </div>
  </section>
  <!-- End Services Section -->
</main><!-- End #main -->
