.user-initials {
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    cursor: pointer; 

}

.my-events a {
    color: white; 

  }

  .dropdown-menu {
    position: absolute;
    top: 100%; /* Position it below the user initials */
    left: 0; 
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
}

.dropdown-item {
    padding: 8px 12px;
    display: block;
    color: #333;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #f5f5f5;
}


.custom-dropdown-toggle::after {
    display: none;
}