
<!--Navbar-->
<diV class="">
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex justify-content-between align-items-center">
    
          <div class="logo">
            <h1 class="text-light"><a href="index.html"><span>EventNest</span></a></h1>
          </div>
    
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="active " href="index.html">Home</a></li>
              <li><a href="">Events</a></li>
              <li><a href="HappeningNow.html"> Happening now </a></li>
              <li><a href=""> For organizers </a></li>
              <li><a href="contact.html">Contact Us</a></li>
              <li><a  routerLink="/login" ><button class="btn login-btn">Login</button></a></li>
              <li><a  routerLink="/register"><button class="btn signup-btn">Sign up</button></a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
    <!-- .navbar -->
    
        </div>
      </header>
</diV>

<router-outlet></router-outlet>
  
  <!-- End Header -->
