
<!--Navbar-->
<diV class="">
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex justify-content-between align-items-center">
    
          <div class="logo">
            <h1 class="text-light"><a href="index.html"><span>EventNest</span></a></h1>
          </div>
    
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="active " href="">Home</a></li>
              <li><a href="">Events</a></li>
              <li><a href=""> Happening now </a></li>
              <li><a href=""> For organizers </a></li>
              <li><a href="">Contact Us</a></li>
              <!-- When user is not logged in -->
              <div *ngIf="!isLoggedIn">
            1  <li><a  routerLink="/login" ><button class="btn login-btn">Login</button></a></li>
               <li><a  routerLink="/register"><button class="btn signup-btn">Sign up</button></a></li>
              </div>
              <!-- When user is logged in -->
              <div *ngIf="isLoggedIn">
    <a href="">My Events</a>
    <div class="user-initials">{{ authService.getUserInitials() }}</div>
  </div>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
    <!-- .navbar -->
    
        </div>
      </header>
</diV>

<router-outlet></router-outlet>
  
  <!-- End Header -->
