  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span> EVENT NEST </span></h2>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp"> Create an Event </a>
        </div>
      </div>

    
    </div>
  </section><!-- End Hero -->